In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from statsmodels.tsa.arima.model import ARIMA
from scipy import stats

In [1]:

data = pd.read_csv('../Backup/AgrupamentoAnoTipoEntidadelimpo2019.csv', sep=';', encoding='utf-8')
data.head()

,NU_ANO_CENSO,DEPENDENCIA,CO_ENTIDADE,ETAPA_ENSINO,NACIONALIDADE,SEXO,COR_RACA,total
0,2008,Estadual,35000012,6° ANO - ENSINO FUNDAMENTAL,Brasileira,F,Amarela,1
1,2008,Estadual,35000012,6° ANO - ENSINO FUNDAMENTAL,Brasileira,F,Branca,22
2,2008,Estadual,35000012,6° ANO - ENSINO FUNDAMENTAL,Brasileira,F,Não declarada,32
3,2008,Estadual,35000012,6° ANO - ENSINO FUNDAMENTAL,Brasileira,F,Parda,11
4,2008,Estadual,35000012,6° ANO - ENSINO FUNDAMENTAL,Brasileira,M,Branca,27

In [5]:
data.shape
data.describe()

       NU_ANO_CENSO   CO_ENTIDADE         total
count  2.226670e+06  2.226670e+06  2.226670e+06
mean   2.013667e+03  3.523149e+07  1.364977e+01
std    3.427648e+00  2.672729e+05  2.505880e+01
min    2.008000e+03  3.500001e+07  1.000000e+00
25%    2.011000e+03  3.505418e+07  2.000000e+00
50%    2.014000e+03  3.513180e+07  6.000000e+00
75%    2.017000e+03  3.528856e+07  1.600000e+01
max    2.019000e+03  3.599001e+07  1.099000e+03

In [5]:
data.dtypes

NU_ANO_CENSO      int64
DEPENDENCIA      object
CO_ENTIDADE       int64
ETAPA_ENSINO     object
NACIONALIDADE    object
SEXO             object
COR_RACA         object
total             int64
dtype: object

In [6]:
data.corr()

              NU_ANO_CENSO  CO_ENTIDADE     total
NU_ANO_CENSO      1.000000     0.037724 -0.037402
CO_ENTIDADE       0.037724     1.000000  0.000119
total            -0.037402     0.000119  1.000000

In [7]:
X = data[['NU_ANO_CENSO','DEPENDENCIA','CO_ENTIDADE','ETAPA_ENSINO','NACIONALIDADE','SEXO','COR_RACA']]

In [8]:
X = pd.get_dummies(data=X, drop_first=True)
X.head()

,NU_ANO_CENSO,CO_ENTIDADE,DEPENDENCIA_Federal,DEPENDENCIA_Municipal,DEPENDENCIA_Privada,ETAPA_ENSINO_1° ANO - ENSINO FUNDAMENTAL,ETAPA_ENSINO_2° ANO - ENSINO FUNDAMENTAL,ETAPA_ENSINO_3° ANO - ENSINO FUNDAMENTAL,ETAPA_ENSINO_4° ANO - ENSINO FUNDAMENTAL,ETAPA_ENSINO_5° ANO - ENSINO FUNDAMENTAL,...,ETAPA_ENSINO_PROPEDÊUTICO - ENSINO MÉDIO,ETAPA_ENSINO_PRÉ-ESCOLA,NACIONALIDADE_Brasileira -nascido no exterior ou naturalizado,NACIONALIDADE_Estrangeira,SEXO_M,COR_RACA_Branca,COR_RACA_Indígena,COR_RACA_Não declarada,COR_RACA_Parda,COR_RACA_Preta
0,2008,35000012,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2008,35000012,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2008,35000012,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,2008,35000012,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,2008,35000012,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0

In [9]:
Y = data['total']

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.4, random_state=101)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1336002, 26)
(890668, 26)
(1336002,)
(890668,)

In [11]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [12]:
LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression()

In [13]:
print(model.intercept_)

588.1697232564652

In [14]:
coeff_parameter = pd.DataFrame(model.coef_,X.columns,columns=['Coefficient'])
coeff_parameter

                                                    Coefficient
NU_ANO_CENSO                                          -0.266956
CO_ENTIDADE                                           -0.000001
DEPENDENCIA_Federal                                   -5.958978
DEPENDENCIA_Municipal                                 -2.747950
DEPENDENCIA_Privada                                  -15.324717
ETAPA_ENSINO_1° ANO - ENSINO FUNDAMENTAL              -7.047452
ETAPA_ENSINO_2° ANO - ENSINO FUNDAMENTAL              -6.969956
ETAPA_ENSINO_3° ANO - ENSINO FUNDAMENTAL              -6.672594
ETAPA_ENSINO_4° ANO - ENSINO FUNDAMENTAL              -6.553676
ETAPA_ENSINO_5° ANO - ENSINO FUNDAMENTAL              -6.000934
ETAPA_ENSINO_6° ANO - ENSINO FUNDAMENTAL              -5.653089
ETAPA_ENSINO_7° ANO - ENSINO FUNDAMENTAL              -5.796360
ETAPA_ENSINO_8° ANO - ENSINO FUNDAMENTAL              -5.857104
ETAPA_ENSINO_9° ANO - ENSINO FUNDAMENTAL              -5.367474
ETAPA_ENSINO_CRECHE                                    2.760483
ETAPA_ENSINO_EDUCAÇÃO PROFISSIONAL - ENSINO MÉDIO     10.073217
ETAPA_ENSINO_PROPEDÊUTICO - ENSINO MÉDIO              24.521154
ETAPA_ENSINO_PRÉ-ESCOLA                                5.291299
NACIONALIDADE_Brasileira -nascido no exterior o...   -14.436169
NACIONALIDADE_Estrangeira                            -16.797035
SEXO_M                                                 0.398825
COR_RACA_Branca                                       18.537300
COR_RACA_Indígena                                     -6.445325
COR_RACA_Não declarada                                17.671821
COR_RACA_Parda                                        10.155939
COR_RACA_Preta                                        -1.714100

In [15]:
predictions = model.predict(X_test)
predictions

array([-24.06909655,  20.07234354,   9.40637485, ...,  -0.86406174,
         8.03800594,  19.85774805])

In [16]:
import statsmodels.api as sm
X_train_Sm= sm.add_constant(X_train)
X_train_Sm= sm.add_constant(X_train)
ls=sm.OLS(y_train,X_train_Sm).fit()
print(ls.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  total   R-squared:                       0.241
Model:                            OLS   Adj. R-squared:                  0.241
Method:                 Least Squares   F-statistic:                 1.633e+04
Date:                Fri, 05 Feb 2021   Prob (F-statistic):               0.00
Time:                        18:04:27   Log-Likelihood:            -6.0097e+06
No. Observations:             1336002   AIC:                         1.202e+07
Df Residuals:                 1335975   BIC:                         1.202e+07
Df Model:                          26
Covariance Type:            nonrobust
=================================================================================================================================
                                                                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------------------------
const                                                           588.1697     11.463     51.312      0.000     565.704     610.636
NU_ANO_CENSO                                                     -0.2670      0.006    -48.384      0.000      -0.278      -0.256
CO_ENTIDADE                                                   -1.094e-06   7.27e-08    -15.052      0.000   -1.24e-06   -9.52e-07
DEPENDENCIA_Federal                                              -5.9590      0.929     -6.417      0.000      -7.779      -4.139
DEPENDENCIA_Municipal                                            -2.7479      0.055    -50.331      0.000      -2.855      -2.641
DEPENDENCIA_Privada                                             -15.3247      0.049   -313.278      0.000     -15.421     -15.229
ETAPA_ENSINO_1° ANO - ENSINO FUNDAMENTAL                         -7.0475      1.908     -3.693      0.000     -10.788      -3.307
ETAPA_ENSINO_2° ANO - ENSINO FUNDAMENTAL                         -6.9700      1.908     -3.652      0.000     -10.710      -3.230
ETAPA_ENSINO_3° ANO - ENSINO FUNDAMENTAL                         -6.6726      1.908     -3.497      0.000     -10.413      -2.932
ETAPA_ENSINO_4° ANO - ENSINO FUNDAMENTAL                         -6.5537      1.908     -3.434      0.001     -10.294      -2.813
ETAPA_ENSINO_5° ANO - ENSINO FUNDAMENTAL                         -6.0009      1.908     -3.145      0.002      -9.741      -2.261
ETAPA_ENSINO_6° ANO - ENSINO FUNDAMENTAL                         -5.6531      1.908     -2.962      0.003      -9.393      -1.913
ETAPA_ENSINO_7° ANO - ENSINO FUNDAMENTAL                         -5.7964      1.908     -3.037      0.002      -9.537      -2.056
ETAPA_ENSINO_8° ANO - ENSINO FUNDAMENTAL                         -5.8571      1.908     -3.069      0.002      -9.597      -2.117
ETAPA_ENSINO_9° ANO - ENSINO FUNDAMENTAL                         -5.3675      1.908     -2.813      0.005      -9.108      -1.627
ETAPA_ENSINO_CRECHE                                               2.7605      1.908      1.447      0.148      -0.979       6.500
ETAPA_ENSINO_EDUCAÇÃO PROFISSIONAL - ENSINO MÉDIO                10.0732      1.952      5.159      0.000       6.246      13.900
ETAPA_ENSINO_PROPEDÊUTICO - ENSINO MÉDIO                         24.5212      1.909     12.846      0.000      20.780      28.262
ETAPA_ENSINO_PRÉ-ESCOLA                                           5.2913      1.908      2.773      0.006       1.551       9.031
NACIONALIDADE_Brasileira -nascido no exterior ou naturalizado   -14.4362      0.226    -63.907      0.000     -14.879     -13.993
NACIONALIDADE_Estrangeira                                       -16.7970      0.093   -180.292      0.000     -16.980     -16.614
SEXO_M                                                            0.3988      0.038     10.599      0.000       0.325       0.473
COR_RACA_Branca                                                  18.5373      0.089    207.834      0.000      18.362      18.712
COR_RACA_Indígena                                                -6.4453      0.156    -41.348      0.000      -6.751      -6.140
COR_RACA_Não declarada                                           17.6718      0.090    196.551      0.000      17.496      17.848
COR_RACA_Parda                                                   10.1559      0.092    110.336      0.000       9.976      10.336
COR_RACA_Preta                                                   -1.7141      0.098    -17.552      0.000      -1.906      -1.523
==============================================================================
Omnibus:                  1851832.035   Durbin-Watson:                   1.997
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       1112360311.949
Skew:                           7.828   Prob(JB):                         0.00
Kurtosis:                     143.490   Cond. No.                     2.16e+10
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.16e+10. This might indicate that there are
strong multicollinearity or other numerical problems.